<footer>
    <div class="footer_container">
        <div class="footer_group">
            <ul>
                <li>
                    <a href="#">
                       Contact US
                    </a>
                </li>
                <li>
                    <a href="#">
                       Sign up
                    </a>
                </li>
                <li>
                    <a href="#">
                       Cart
                    </a>
                </li>
            </ul>

        </div>
        <div class="footer_group">
            <ul>
               <li>
                   <a href="#">
                     Terms of Use
                   </a>
               </li>
               <li>
                <a href="#">
                     privacy policy
                </a>
            </li>
            </ul>
        </div>
        <div class="footer_group">
            <ul>
                <li ><a   href="#"><i class="fa fa-facebook-square social_icons " aria-hidden="true"></i></a></li>
                <li ><a  href="#"><i class="fa fa-twitter social_icons" aria-hidden="true"></i></a></li>
                <li ><a   href="#"><i class="fa fa-instagram social_icons" aria-hidden="true"></i></a></li>
            </ul>

        </div>
    </div>

</footer>



<script src="/scripts/dom-script.js"></script>

</body>
</html>