<%- include('includes/header.ejs'); %>
<main>
    <div class="background">

    </div>
    <section class="about-section">
        <div class="about-section_container">
            <h4>Welcome to CuteBag</h4>
            <p>your number one source for cartoon bags. We're dedicated to giving you the very best of bags, with a focus on quality, uniqueness, and dependability.</p>

              <p> Founded in 2018 by williams Devanney, CuteBag has come a long way from its beginnings in massachusetts.</p>
                <p>williams's passion for packing his kids meal, inspired him to create this booming online store.</p>
               <p>After trying  different designs and materials, superCute is now proud to have found the perfect formula for your satisfaction. 
               <p> We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.</p>
                
                <p>Sincerely,
                Brians, content editor.</p>

        </div>
       
    </section>

</main>

<%- include('includes/footer.ejs') %>