<%- include('includes/header.ejs') %>
<main>
    <div class="background">

    </div>
    <section class="sign-section">
        <div class="sign-section_container">
            <h4>Login</h4>
            <form>
               
                <div>
                    <label for="username">
                        username:
                    </label>
                    <input  id= "username" type="text" name="username">

                </div>
                <div>
                    <label for="password">
                        password:
                    </label>
                    <input  id= "password" type="password" name="password">

                </div>
              
                <button type="submit">login</button>
               
                
            </form>
        </div>
       
    </section>
</main>

<%- include('includes/footer.ejs')  %>