<%- include('includes/header.ejs') %>
<main>
    <section class="shop-section">
            
        <form>
            <div>
                <input type="text" name ="filter" placeholder ="Filter By Name">

            </div>
            <button id="shop-button">Filter</button>
        </form>

        <h4>Available Now </h4>
        <div class="shop-section_container">
            <div class="shop-section_product">
                <a href="#">
                    <img src='/img/prod1.png'>
                </a>
                <p><span>$</span>45</p>
                <button class="shop-section_button">
                    add To Cart
                </button>

            </div>
            <div class="shop-section_product">
                <a href="#">
                    <img src='/img/prod1.png'>
                </a>
                <p><span>$</span>45</p>
                <button class="shop-section_button">
                    add To Cart
                </button>

            </div>
            <div class="shop-section_product">
                <a href="#">
                    <img src='/img/prod1.png'>
                </a>
                <p><span>$</span>45</p>
                <button class="shop-section_button">
                    add To Cart
                </button>

            </div>
            <div class="shop-section_product">
                <a href="#">
                    <img src='/img/prod1.png'>
                </a>
                <p><span>$</span>45</p>
                <button class="shop-section_button">
                    add To Cart
                </button>

            </div>
            <div class="shop-section_product">
                <a href="#">
                    <img src='/img/prod4.png'>
                </a>
                <p><span>$</span>45</p>
                <button class="shop-section_button">
                    add To Cart
                </button>

            </div>
            <div class="shop-section_product">
                <a href="#">
                    <img src='/img/prod1.png'>
                </a>
                <p><span>$</span>45</p>
                <button class="shop-section_button">
                    add To Cart
                </button>

            </div>
            <div class="shop-section_product">
                <a href="#">
                    <img src='/img/prod4.png'>
                </a>
                <p><span>$</span>45</p>
                <button class="shop-section_button">
                    add To Cart
                </button>

            </div>
            <div class="shop-section_product">
                <a href="#">
                    <img src='/img/prod8.png'>
                </a>
                <p><span>$</span>45</p>
                <button class="shop-section_button">
                    add To Cart
                </button>

            </div>
            <div class="shop-section_product">
                <a href="#">
                    <img src='/img/prod8.png'>
                </a>
                <p><span>$</span>45</p>
                <button class="shop-section_button">
                    add To Cart
                </button>

            </div>
            <div class="shop-section_product">
                <a href="#">
                    <img src='/img/prod4.png'>
                </a>
                <p><span>$</span>45</p>
                <button class="shop-section_button">
                    add To Cart
                </button>

            </div>
            <div class="shop-section_product">
                <a href="#">
                    <img src='/img/prod8.png'>
                </a>
                <p><span>$</span>45</p>
                <button class="shop-section_button">
                    add To Cart
                </button>

            </div>
            <div class="shop-section_product">
                <a href="#">
                    <img src='/img/prod4.png'>
                </a>
                <p><span>$</span>45</p>
                <button class="shop-section_button">
                    add To Cart
                </button>

            </div>
           
            

        </div>
      
        
       
    </section>
    

</main>
<%- include('includes/footer.ejs') %>