<%- include('includes/header.ejs') %>
<main>
    <div class="background">

    </div>
    <section class="sign-section">
        <div class="sign-section_container">
            <h4>Join Us</h4>
            <form>
                <div>
                    <label for="firstname">
                        FirstName :
                    </label>
                    <input  id= "firstname" type="text" name="firstname">

                </div>
                <div>
                    <label for="lastname">
                        lastName :
                    </label>
                    <input  id= "lastname" type="text" name="Lastname">

                </div>
                <div>
                    <label for="email">
                        email :
                    </label>
                    <input  id= "email" type="email" name="email">

                </div>
                <div>
                
                    <label for="username">
                        username:
                    </label>
                    <input  id= "username" type="text" name="username">

                </div>
                <div>
                    <label for="password">
                        password:
                    </label>
                    <input  id= "password" type="password" name="password">

                </div>
                <div>
                    <label for="confirmpassword">
                        confirm password:
                    </label>
                    <input  id= "confirmpassword" type="password" name="confirmpassword">

                </div>
                <button type="submit">Sign up</button>
               
                
            </form>
        </div>
       
    </section>
</main>

<%- include('includes/footer.ejs')  %>